@using Capstone.Web.Models;
@using Capstone.Web.Controllers;
@using System.Globalization;
@model ParkWeatherViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TextInfo myTI = new CultureInfo("en-US", false).TextInfo;
}

<div class="col-lg-8 col-lg-offset-2">
    <div class="row">
        <div class="col-lg-6">
            <img class="img-responsive" src="@Url.Content("~/Content/parks/" + Model.Park.ParkCode + ".jpg")" />
        </div>
        <div class="col-lg-6">
            <h3 class="park-name">@Model.Park.ParkName</h3>
            <p class="park-location">@Model.Park.State</p>
            <p class="park-description">@Model.Park.ParkDescription</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <table class="table">
                <tr>
                    <td>
                        Est.
                    </td>
                    <td>
                        @Model.Park.YearFounded
                    </td>
                </tr>
                <tr>
                    <td>
                        Size:
                    </td>
                    <td>
                        @Model.Park.Acreage.ToString("N0") acres
                    </td>
                </tr>
                <tr>
                    <td>
                        Elevation:
                    </td>
                    <td>
                        @Model.Park.ElevationInFeet.ToString("N0") feet
                    </td>
                </tr>
                <tr>
                    <td>
                        Trail Length:
                    </td>
                    <td>
                        @Model.Park.MilesOfTrail.ToString("N0") miles
                    </td>
                </tr>
                <tr>
                    <td>
                        Entry Fee:
                    </td>
                    <td>
                        @Model.Park.EntryFee.ToString("C2")
                    </td>
                </tr>
                <tr>
                    <td>
                        Number of Campsites:
                    </td>
                    <td>
                        @Model.Park.NumberOfCampsites.ToString("N0")
                    </td>
                </tr>
                <tr>
                    <td>
                        Annual Visitors:
                    </td>
                    <td>
                        @Model.Park.AnnualVisitorCount.ToString("N0") guests
                    </td>
                </tr>
                <tr>
                    <td>
                        Animal Species:
                    </td>
                    <td>
                        @Model.Park.NumberOfAnimalSpecies
                    </td>
                </tr>
                <tr>
                    <td>
                        Climate:
                    </td>
                    <td>
                        @Model.Park.Climate
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-8">
            <p class="quote">"@Model.Park.InspirationalQuote"</p>
            <p class="source">—@Model.Park.InspirationalQuoteSource</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <h3>Today</h3>
            <img class="img-responsive" src="@Url.Content("~/Content/weather/" + Model.Forecast[0].ImageName + ".png")" />
            <p>@myTI.ToTitleCase(Model.Forecast[0].Forecast)</p>
            <p>High: @Model.Forecast[0].High °F</p>
            <p>Low: @Model.Forecast[0].Low °F</p>
            <p>@Model.Forecast[0].ForecastRecommendation</p>
            @if (!Model.IsCelsius)
            {
                using (Html.BeginForm("Detail", "Park", new { parkCode = Model.Park.ParkCode }, FormMethod.Post))
                {
                    Html.HiddenFor(m => m.IsCelsius, true);
                    <button>Switch to Celsius</button>
                }
            }
            else
            {
                using (Html.BeginForm("Detail", "Park", new { parkCode = Model.Park.ParkCode }, FormMethod.Post))
                {
                    Html.HiddenFor(m => m.IsCelsius, false);
                    <button>Switch to Fahrenheit</button>
                }
            }

        </div>

        @for (int i = 1; i < Model.Forecast.Count; i++)
        {
            <div class="col-lg-2 col-sm-6">
                <h4>
                    @(DateTime.Now.AddDays(i).DayOfWeek)
                </h4>
                <img class="img-responsive" src="@Url.Content("~/Content/weather/" + Model.Forecast[i].ImageName + ".png")" />
                <p>@myTI.ToTitleCase(Model.Forecast[i].Forecast)</p>
                <p>High: @Model.Forecast[i].High</p>
                <p>Low: @Model.Forecast[i].Low</p>
            </div>
        }
    </div>
</div>